img {
  border-radius: 10px;
}
.max-viewport {
  min-height: 100vh;
}
.btn:hover {
  background: #252525;
  color: #f7f7f7;
}
hr {
  opacity: 0.3;
}
body {
  background: rgba(0, 0, 255, 0.6);
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.6),
    rgba(0, 0, 255, 0.7)
  );
}
 div {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;
	width: 100vw;
}
