.max-viewport {
  min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
body {
  background: rgba(0, 0, 255, 0.6);
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.6),
    rgba(0, 0, 255, 0.7)
  );
}

