@import url('https://fonts.googleapis.com/css?family=Handlee|Merienda');
.max-viewport {
  min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
body {
  background: rgba(0, 0, 255, 0.6);
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.6),
    rgba(0, 0, 255, 0.7)
  );
}
.title {
	font-family: 'Handlee', cursive;
	font-size: 100px;
	font-weight: 700;
}
.sub-title{
	font-family: 'Merienda', cursive;
font-weight: 300;
font-size: 60px;
}
